.container {
    flex: 1;
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-style: oblique;
    font-size: 4rem;
    color: #8b93f8;
}

.container h3 {
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #1f35ff;
    margin-bottom: 2rem;
}

.bounce {
    animation-name: bounce;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}


.btn-cambiar-bd {
    cursor: pointer;
    font-size: large;
    font-family: inherit;
    font-weight: bold;
    color: #0011ff;
    background-color: #f8f8fd;
    padding: 0.4em 1.1em;
    border-radius: 50em;
    border: 6px solid #8b93f8;
    box-shadow: 0px 8px #1f35ff;
}

.btn-cambiar-bd:active {
    position: relative;
    top: 8px;
    border: 6px solid #646fff;
    box-shadow: 0px 0px;
}


.grow {
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.grow:hover {
    transform: scale3d(1.3, 1.3, 0.25);
    -webkit-transform: scale3d(1.3, 1.3, 0.25);
    -moz-transform: scale3d(1.3, 1.3, 0.25);
}
