<h2>Permission</h2>

<button class="btn-register" mat-raised-button routerLink="/securitymodule/Permission/Create">
    <mat-icon>add_circle</mat-icon> Registrar
</button>

<mat-card class="contenedor-tabla">
    <app-base-table
        [data]="permissionData"
        [columns]="columnasMostrar"
        [tooltipColumns]="[]"
        [statusLabels]="{ true: 'Activo', false: 'Inactivo' }"
        (onEdit)="editarPermission($event)"
        (onDelete)="eliminarPermission($event)">
    </app-base-table>
</mat-card>
