<mat-toolbar>
    <button mat-button routerLink="Landing">
        <mat-icon>home</mat-icon>
        <span class="text-medium">Mod Seguridad</span>
    </button>

    <span class="vertical-separator"></span>

    <button mat-button routerLink="Person">
        <mat-icon>person</mat-icon>
        <span>Person</span>
    </button>

    <button mat-button routerLink="User">
        <mat-icon>badge</mat-icon>
        <span>User</span>
    </button>

    <button mat-button routerLink="Role">
        <mat-icon>face</mat-icon>
        <span>Role</span>
    </button>

    <button mat-button routerLink="Form">
        <mat-icon>list_alt</mat-icon>
        <span>Form</span>
    </button>

    <button mat-button routerLink="Module">
        <mat-icon>widgets</mat-icon>
        <span>Module</span>
    </button>

    <button mat-button routerLink="Permission">
        <mat-icon>thumb_up</mat-icon>
        <span>Permission</span>
    </button>

    <button mat-button routerLink="UserRole">
        <mat-icon>group</mat-icon>
        <span>UserRole</span>
    </button>

    <button mat-button routerLink="FormModule">
        <mat-icon>view_compact_alt</mat-icon>
        <span>FormModule</span>
    </button>

    <button mat-button routerLink="RoleFormPermission">
        <mat-icon>groups</mat-icon>
        <span>RoleFormPermission</span>
    </button>

    <span class="spacer"></span>

    <button mat-icon-button aria-label="Cerrar sesión" (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
