.spacer {
    flex: 1 1 auto;
}

.vertical-separator {
    height: 24px;
    width: 4px;
    background-color: rgb(20, 105, 192);
    border-radius: 2px;
    margin: 0 12px;
    align-self: center;
}

button span{
	font-size: 12px;
}
