<div class="layout-container">
    <main class="main-content">
        <app-show-info-edification
            [entityData]="zone"
            [entityType]="'Zone'"
            [dataFields]="zoneFields"
			[showDeleteButton]="false"
            [backRoute]="'/areaManager/dashboard'"
            [headerIcon]="'map'"
            [headerTitle]="'Datos de Zona'"
            [headerSubtitle]="'Gestión de información empresarial'"
            [avatarInitials]="getBranchInitials()"
            [avatarTitle]="zone?.name || 'Empresa'"
            [avatarSubtitle]="zone?.description || 'Correo electrónico'"
            [avatarRole]="zone?.branchName || 'Industria'"
            (onEdit)="openEditModal()"
            (onDelete)="openDeleteModal()">
        </app-show-info-edification>
    </main>
</div>

<!-- Modal de edición -->
@if (isEditModalOpen()) {
<app-update-info-edification
    [entityData]="zone"
    [isOpen]="isEditModalOpen()"
    [entityType]="'Sucursal'"
    [editFields]="editFields"
    [saveService]="saveZone.bind(this)"
    (onClose)="closeEditModal()"
    (onSave)="onCompanyUpdated($event)">
</app-update-info-edification>
}
