.layout-container {
	min-height: calc(100vh - var(--header-height));
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-content {
	flex: 1;
	/* display: flex;
	justify-content: center;
	align-items: center; */
	padding: 2rem 1rem;
}
