<h2>UserRole</h2>

<button class="btn-register" mat-raised-button routerLink="/securitymodule/UserRole/Create">
    <mat-icon>add_circle</mat-icon> Registrar
</button>

<mat-card class="contenedor-tabla">
    <app-base-table
        [data]="userRoleData"
        [columns]="columnasMostrar"
        [tooltipColumns]="[]"
        [statusLabels]="{ true: 'Activo', false: 'Inactivo' }"
        (onEdit)="editarUserRole($event)"
        (onDelete)="eliminarUserRole($event)">
    </app-base-table>
</mat-card>
